<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--sectionGroup节点一定要在紧跟着configuration下面第一个添加-->
    <sectionGroup name="spring">
      <!--跟下面Spring.Net节点配置是一一对应关系-->
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <!--Spring.Net节点配置-->
  <spring>
    <!--<context>
      <resource uri="~/Config/Spring.config"/>
    </context>-->
    
    <!--容器配置-->
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects>
      <!--objects里面放容器的所有节点-->
      <description>An example that demonstrates simple Ioc features.</description>
      <!--描述-->
      <!--name 必须要唯一的，type = 类的全名称，所在的程序集-->
      <object name="Product" type="J.PinShop.Model.Product,J.PinShop.Model"></object>
      <!--咱们刚才创建的Product实体类-->
    </objects>
  </spring>
</configuration>