<?xml version="1.0" encoding="utf-8"?>
<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop">
  <!--Cache-->
  <object id="CacheAspect" type="Spring.Aspects.Cache.CacheAspect, Spring.Aop"/>

  <!-- Session -->
  <object id="sessinProvider" singleton="true" type="B4B.Core.Server.Session.MemSessionProvider,B4B.Core.Server">
    <property name="SessionTimeout" value="20"/>
  </object>


  <object id="loggingAdvice"  singleton="true" type="B4B.Core.Server.Advice.LoggingAdvice,B4B.Core.Server"></object>

  <object id="transactionAdvice"  singleton="true" type="B4B.Core.Server.Advice.DbSessionAdvice,B4B.Core.Server">
  </object>

  <object id="permissionAdvice"  singleton="true" type="B4B.Core.Server.Advice.PermissionAdvice,B4B.Core.Server"></object>

  <object id="auditingAdvice"  singleton="true" type="B4B.Core.Server.Advice.OperationAuditingAdvice,B4B.Core.Server"></object>

  <object id="nHibernateEvent"  singleton="true" type="B4B.Core.Server.Advice.NHibernateEvent,B4B.Core.Server"></object>

  <object id="traceHistoryDataAdvice" singleton="true" type="B4B.Core.Server.Advice.TraceHistoryDataAdvice,B4B.Core.Server"></object>


  <object id="historyDataSvr" singleton="false" type="B4B.Core.Server.Service.HistoryDataService, B4B.Core.Server"  autowire="byType"/>

  <object id="securitySvr" singleton="true" type="B4B.Core.Server.Test.SecurityServiceMock,B4B.Core.Server"></object>


  <object id="nhCfg" type="B4B.Core.Server.Data.DbSessionActivation, B4B.Core.Server">
    <property name="IsDefault" value="true"/>
    <property name="ConfigFile" value="Config/NHibernate.config" />
    <property name="SessionCatalog" value="ccDb"/>
  </object>

  <object id="wcfServiceProxyCreator" type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator, Spring.Aop">
    <property name="ObjectNames">
      <list>
        <value>*Service</value>
      </list>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>loggingAdvice</value>
        <!--<value>auditingAdvice</value>-->
        <!--<value>permissionAdvice</value>-->
        <value>CacheAspect</value>
        <value>transactionAdvice</value>
      </list>
    </property>
  </object>

  <object id="localServiceProxyCreator" type="Spring.Aop.Framework.AutoProxy.ObjectNameAutoProxyCreator, Spring.Aop">
    <property name="ObjectNames">
      <list>
        <value>*LocalSvr</value>
      </list>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>loggingAdvice</value>
        <value>CacheAspect</value>
        <value>transactionAdvice</value>
      </list>
    </property>
  </object>

  <!--main service-->
  <object id="statusService" type="B4B.Core.Server.Service.StatusService,B4B.Core.Server">
    <property name="IsAdIntegrationMode" value="false"/>
  </object>
  <object id="statusServiceHost" type="B4B.Core.Server.LoadBalance.ServiceNodeHostFactoryObject,B4B.Core.Server">
    <property name="TargetName" value="statusService" />
    <property name="DefaultBindingConfiguration" value="anonymousBinding"/>
    <property name="RountingServiceEndpoint" value="" />
    <property name="Port" value="8189" />
  </object>

  <object id="adService" type="B4B.Core.Server.Service.AdService,B4B.Core.Server">
    <property name="AdminAccount" value="jz@mct.com" />
    <property name="AdminPassword" value="App1234" />
  </object>
  <object id="adServiceHost" type="B4B.Core.Server.LoadBalance.ServiceNodeHostFactoryObject,B4B.Core.Server">
    <property name="TargetName" value="adService" />
    <property name="DefaultBindingConfiguration" value="defaultBinding"/>
    <property name="RountingServiceEndpoint" value="" />
    <property name="Port" value="8189" />
  </object>

</objects>
